{% extends "index.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block navbar_elts %}
<!-- Menu options to be displayed to logged in users. -->
<li><a href="{{ url_for('logout') }}">Log Out</a></li>
{% endblock %}

{% block content %}
<h1 class="page-header">Welcome, {{ name }}!</h1>
<p>This site is still under construction. Thank you for your patience!</p>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('mastermind') }}">Mastermind</a></h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="#">Minesweeper</a></h4>
    <span class="text-muted">Coming soon</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('crazy_eights') }}">Crazy Eights</a></h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('blackjack') }}">Blackjack</a></h4>
  </div>
</div>
{% endblock %}
