{% extends "index.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block navbar_elts %}
<!-- Menu options to be displayed to logged in users. -->
<li><a href="{{ url_for('logout') }}">Log Out</a></li>
{% endblock %}

{% block subcontent %}
<h1 class="page-header">Welcome, {{ name }}!</h1>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('game_menu', game='mastermind') }}">Mastermind</a></h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('game_menu', game='minesweeper') }}">Minesweeper</a></h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('game_menu', game='crazy_eights') }}">Crazy Eights</a></h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4><a href="{{ url_for('game_menu', game='blackjack') }}">Blackjack</a></h4>
  </div>
</div>
{% endblock %}
