{% extends "bootstrap/base.html" %}

{% block title %}
PyArcade
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block navbar %}
<!-- Display the navbar. -->
<nav id="navbar" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-content" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('index') }}">PyArcade</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav">
      <!-- Menu options that should be displayed to all users. -->
      <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
      {% block navbar_elts %}
      <!-- Menu options for logged out users. Menu options for logged in users
      go in dashboard.html. -->
      <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
      <li><a href="{{ url_for('login') }}">Log In</a></li>
      {% endblock %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Contain the page content. -->
<div id="content" class="container">
  {% block alert %}
  <!-- Show alert messages above the current content. -->
  <div id="alert" class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% endblock %}

  {% block subcontent %}
  <!-- Define a block for inheritance to override without clobbering the alert block. -->
  <h1 class="jumbotron">Welcome to PyArcade</h1>
  {% endblock %}
</div>
{% endblock %}
